﻿/* Version 1.17 */

/*#region Message Divs */

.Msg div, .ValidationPopup
{
    border-style: solid;
    border-width: 1px; 
    border-radius: 4px; 
    margin: 6px 0 5px 0;  
    background-repeat: no-repeat;     
    background-position: 3px 3px; 
    padding: 3px 10px 6px 24px; 
    font-size:0.9em;
    color: #000;
}
.Msg div strong
{
    line-height: 1.5em;
}
.Msg-Validation, .Msg-Error
{
    background-color: #F9EEED;
    border-color: #c44;
}
.Msg-Validation
{
    background-image: url('img?file=IconBRule.png'); 
    overflow: auto;
}
.Msg-Validation > ul
{
  padding-left: 0;
}
.Msg-Validation strong, .Msg-Error strong
{
    color: #c44;
    line-height: 1.2em;
}
.Msg-Error
{
    background-image: url('img?file=IconError.png'); 
}
.Msg-Success
{
    background-image: url('img?file=IconAuth.png'); 
    background-color:#F1F8EE;
    border-color: #4a2;
}
.Msg-Success strong
{
    color: #291;
}

.Msg-Warning
{
    background-image: url('img?file=IconWarning.png'); 
    background-color:#FFF7E5;
    border-color: #D9980D;
}
.Msg-Warning strong
{
    color: #D9980D;
}
.Msg-Information
{
    background-image: url('img?file=IconInfo.png'); 
    background-color:#E9F1FB;
    border-color: #225FAA;
}
.Msg-Information strong
{
    color: #225FAA;
}
.MsgBoxMessage > ul
{
  padding-left: 0;
}

/*#endregion*/

/*#region Icons */

.ImgIcon, .liImg /*list item image*/
{
  vertical-align: middle;
  display:inline-block;
}
.ImgIcon
{
  width: 16px;
  height: 16px;   
  background-image: url('img?file=IconsSmall-1.0.png');  
}
.liImg
{
  background-size: 12px;
  margin-right:5px;
  background-repeat: no-repeat;
  padding-left: 15px;
  margin-left: -30px;
  background-position: 0 2px;
}
.ImgLoading
{
  background-image: url('img?file=LoadingSmall.gif');  
}

.Grid .Highlight .SortDiv
{
  position: relative;
  padding-right: 12px;
}
.SortDiv .SortIcon
{
  display: none;
}
.Highlight .SortDiv .SortIcon
{
  display: block;
}
.SortIcon
{
  position: absolute;
  background-image: url(img?file=IconSort.png);
  width: 8px;
  height: 6px;
  right: 1px;
}
.Grid .RButtons .btn {
  padding: 2px 4px 3px 5px;
  font-size: 14px;
  margin: -2px 0;
}

/*#endregion*/

/*#region Validation */

.ValidationPopup
{
  position: absolute;
  top: 0px;
  right: 5px;
  height: 100%;
  width: 400px;
  display: block;
  z-index:100;
  overflow: auto;
  visibility:hidden;
  max-height: 350px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.ErrorPopup
{
  position:absolute;
  top: 0;
  left: 0;
  font-size: 8pt;
  color: #fff;
  display:none;
  z-index: 9999;
}
.ErrorPopup .Child
{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.32);
  border-radius: 3px;
  padding: 3px 3px 4px 3px;
  margin-bottom: 5px;
  text-shadow: 1px 0 2px rgba(0,0,0,0.4);
}
.ErrorPopup .Error
{
  background-color: #D22;
  
}
.ErrorPopup .Warn
{
  background-color: #E29D18;
}
.ErrorPopup .Info
{
  background-color: #578CD4;
}
.ValBorderErr
{
  border-color: #d22 !important;
}
input[type=checkbox].ValBorderErr {
  outline: 1px solid #d22;
}
.ValBorderWarn
{
  border-color: #D9980D !important;
}
.ValBorderInfo
{
  border-color: #225FAA !important;
}
.ImgOk
{
  background-image: url(img?file=Ok.png) !important;
}
.liVal
{
  list-style-type: none;
  padding-top: 1px;
}


.ImgValidation
{
  background-image: url(img?file=Excl.png) !important;
}
.ImgWarning
{
  background-image: url(img?file=Warn.png) !important;
}
.ImgInfo
{
  background-image: url(img?file=Info.png) !important;
}
/*New Validation display - Error below control set*/
.ErrorControlMsg {
  display: block;
  background-image: none;
  padding: 4px;
  margin: 0px;
  width: 100%;
  color: red;
}


.ErrorControlMsgInput {
  border-bottom: 1px solid rgb(255,0,0) !important;
}

/*#endregion*/

/*#region Loading bars */

.ProgressDiv
{
  width:150px;
  border: 5px solid #004B93;
  padding: 7px;
  background-color: #fff;
  z-index: 2000;
  display:none;
  text-align: center;
  box-sizing: content-box; 
  -ms-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  -webkit-box-sizing: content-box; 
}
.ProgressDiv span
{
  display:inline-block;
  padding-bottom:10px;
  font-size:1.1em;
  white-space:nowrap;
}
.LoadingOverlay
{
  filter: alpha(opacity=40);/*ie8*/
  position:fixed; 
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.07);
  width: 100%; 
  height:100%; 
  top:0; 
  left:0;
  z-index: 10000;
}
:root .LoadingOverlay { /*ie9*/
  filter: alpha(opacity=100);
}

/*#endregion*/

/*#region Editors / Find screen / Controls */

.InputContainer
{
  margin-right:9px;
}
.DropDown
{
  margin-right:9px;
}
.Criteria
{
  background-color: #F2F5F8;
  padding: 10px;
  margin-bottom: 10px;
}
.SortableHeader
{
  cursor: pointer;
}
.NumericEditor
{
  text-align: right;
}
.DatePicker
{
  text-align: center;
}
.UIContainer
{
  visibility: hidden;
}
.SmallButton .ui-button-text
{
  padding: 3px 3px 4px 4px; 
}
.ChartTooltip
{
  font-size: 12px;
  color: #222;
  padding: 2px;
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 2px;
  display: none;
}
.SavingDiv
{
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: #111;
  color: #eee;
  display: inline-block;
}

.StarRating span {
	background-position-x: -24px;
  background-position-y: 0px; 
  width: 24px; 
  height: 24px; 
  display: inline-block; 
  cursor: pointer; 
  background-image: url("img?file=stars.png");
}
.StarRating span.chosen {
	background-position-x: 0px;
  background-position-y: 0px; 
}
.StarRating span.NoHover{
	background-position-x: -24px;
  background-position-y: 0px; 
}
.StarRating span.hoverChosen {
	background-position-x: 0px;
  background-position-y: 0px; 
}
.Blank
{
  color: #999;
  font-style: italic !important;
  font-weight: normal !important;
}
.ui-datepicker.NoDays .ui-datepicker-calendar {
  display: none;
}
.ro-multi-line {
  white-space: pre-line;
}

/*#endregion*/

/*#region Popup menu */

.ContextMenu
{
  border: 1px solid #142E42;
  background-color: #fff;
  padding: 3px;
  position:absolute;
  box-shadow:  4px 4px 12px rgba(50, 50, 50, 0.39);
  display: none;
  z-index:2000;
}
.ContextMenu div
{
  padding: 4px;
  color: #142E42;
  cursor: pointer;
}
.ContextMenu div:hover
{
  background-color: #2B6795;
  color: #fff;
}
.ContextMenu div.spacer
{
  cursor: default;
}
  .ContextMenu div.spacer:hover
{
  background-color: transparent;
}
.ContextMenu img
{
  vertical-align:middle;
}
.Popup
{
  display: inline;
}
.PopupImage
{
  margin-bottom:3px; 
  vertical-align:middle;
  cursor: pointer;
}

/*#endregion*/

/*#region Context menu */

.S-CtxMenu
{
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  display: inline-block;
  position: absolute;
  padding: 1px;
  z-index: 10000;
}
.S-CtxMenu .LeftStrip
{
  position:absolute;
  width: 23px; 
  height: 100%; 
  background-color: #f5f5f5; 
  top: 0; 
  left: 0
}
.S-CtxMenu .S-MenuItem
{
  color: #000;
  padding: 2px 4px 2px 2px;
  font-size: 12px;
  font-family: Calibri, Arial, sans-serif;
  border: 1px solid transparent; 
  position: relative;
}
.S-CtxMenu .S-MenuItem input
{
  margin: -2px 0 -2px 10px;
  font: inherit;
  padding: 2px 3px;
  border: 1px solid #bbb;
  width: 90px;
  border-radius: 2px;
}
.S-CtxMenu .Selectable
{
  cursor: pointer;
}
.S-CtxMenu .Selectable:hover, S-CtxMenu .Expanded
{
  background-color: rgba(196, 255, 255, 0.2);
  border: 1px solid #3399FF; 
}
.S-CtxMenu .S-MenuBreak
{
  border-bottom: 1px dashed #bbb;
  margin: 4px 8px 2px 26px;
}
.S-CtxMenu .S-MenuItem .Icon
{
  display: inline-block;
  background-image: url('img?file=MenuIcons-Sm.png');
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: text-top;
}
.S-CtxMenu .S-MenuItem .fa
{
  width: 16px;
  text-align: center;
  margin-right: 5px;
}


/*#endregion*/

/*#region Misc */

.OldBrowser
{
  background-color: Orange;
  padding: 10px;
  color: #222;
  text-align: center;
  font-size: 11pt;
}

/*#endregion*/

.Trigger
{
  display: inline-block;
}
.Trigger button
{
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px 1px 3px 1px; /*override this in your project css if its the wrong height.*/
  border-radius: 0 3px 3px 0;
  vertical-align: top;
  /*margin-left: -1px;*/
  border-left-color: transparent;
  line-height: 1em;
}
.Trigger button:hover
{
  background: #eee;
}
.Trigger button span {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.Trigger button.Find span
{
  background-image: url('img?file=IconsSmall-1.0.png'); 
  background-position: -48px 0;
}
.Trigger button.Cbo span {
  background-image: url('img?file=btnCbo.png'); 
  background-position-y: center;
  background-repeat: no-repeat;
}

/*#region Flat Button*/

.btn
{
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
  text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font: inherit; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  transition: all 0.10s ease-in-out, padding 0, border 0;
}
.btn .fa
{
  margin-right: 1px;
}
.btn.ImgRight .fa {
  margin-right: 0px;
  margin-left: 1px;
}
/*Primary Blue*/
.btn-primary
{
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover
{
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:disabled
{
  background-color: #738899;
}
/*Success Green*/
.btn-success
{
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover
{
  background-color: #47a447;
  border-color: #398439;
}
.btn-success:disabled
{
  background-color: #A0D6A0;
  border-color: #A0D6A0;
}
/*Danger Red*/
.btn-danger
{
  background-color:  #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover
{
  background-color: #d2322d;
  border-color: #ac2925;
}
.btn-danger:disabled
{
  background-color: #d9534f;
  border-color: #d43f3a;
}
/*Warning Orange*/
.btn-warning
{
  background-color: #F0AD4E;
  border-color: #EEA236;
}
.btn-warning:hover
{
  background-color: #EC971F;
  border-color: #D58512;
}
.btn-warning:disabled
{
  background-color: #F5C485;
  border-color: #F2AF60;
}
/*Info Light Blue*/
.btn-info
{
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover
{
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:disabled
{
  background-color: #5bc0de;
  border-color: #46b8da;
}
/*Default White*/
.btn-default
{
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  text-shadow: none;
}
.btn-default:hover
{
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:disabled
{
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-lg {
  padding: 7px 14px;
  font-size: 18px;
  border-radius: 5px;
}
.btn-lg .fa
{
  position: relative;
  top: 1px
}
.btn-sm {
  padding: 4px 8px;
  border-radius: 3px;
}
.btn-xs {
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.btn-tiny
{
  padding: 2px 3px 2px 4px;
}
.btn.btn-tiny .fa
{
  margin-right: 0px;
}

/*#endregion*/

.Dragging
{
  background-color: #000;
  font-weight: 600;
  color: #fff;
  padding: 5px;
}

/*Added to resolve dialog issues when using jquery-ui-1.12.1*/
.ui-dialog {
   z-index:999;
}

.filter-blur {
  filter: blur(3px);
}
